---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/search/geocode/v6/forward?access_token=pk.eyJ1Ijoia2thbjEyMCIsImEiOiJjbTBkeDRxczMwaXZrMmxwd2prbnh0cGx3In0.QA7FjWBZaREcgjBMgZ2Gfg&q=phuong+3%2C+quan+go+vap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.geo+json; charset=utf-8
      x-rate-limit-limit:
      - '1000'
      x-rate-limit-interval:
      - '60'
      x-rate-limit-reset:
      - '1725979381'
      last-modified:
      - Tue, 10 Sep 2024 01:40:31 GMT
      etag:
      - '"455506d7395f4c3efccef3b0aec9a6c5"'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","id":"dXJuOm1ieHBsYzpYc3ow","geometry":{"type":"Point","coordinates":[106.679382,10.814459]},"properties":{"mapbox_id":"dXJuOm1ieHBsYzpYc3ow","feature_type":"neighborhood","full_address":"Phường
        3, 71400, Gò Vấp, Ho Chi Minh City, Vietnam","name":"Phường 3","name_preferred":"Phường
        3","coordinates":{"longitude":106.679382,"latitude":10.814459},"place_formatted":"71400,
        Gò Vấp, Ho Chi Minh City, Vietnam","bbox":[106.672682,10.810412,106.6856,10.826986],"context":{"postcode":{"mapbox_id":"dXJuOm1ieHBsYzpBZVVPOUE","name":"71400"},"locality":{"mapbox_id":"dXJuOm1ieHBsYzpCWVBLOUE","name":"Gò
        Vấp","wikidata_id":"Q5574953"},"place":{"mapbox_id":"dXJuOm1ieHBsYzpKUFE","name":"Ho
        Chi Minh City","wikidata_id":"Q1854","short_code":"VN-SG"},"region":{"mapbox_id":"dXJuOm1ieHBsYzpKUFE","name":"Ho
        Chi Minh City","wikidata_id":"Q1854","region_code":"SG","region_code_full":"VN-SG"},"country":{"mapbox_id":"dXJuOm1ieHBsYzpJdlE","name":"Vietnam","wikidata_id":"Q881","country_code":"VN","country_code_alpha_3":"VNM"},"neighborhood":{"mapbox_id":"dXJuOm1ieHBsYzpYc3ow","name":"Phường
        3","wikidata_id":"Q1913761"}}}},{"type":"Feature","id":"dXJuOm1ieHBsYzpYY3ow","geometry":{"type":"Point","coordinates":[106.638386,10.758738]},"properties":{"mapbox_id":"dXJuOm1ieHBsYzpYY3ow","feature_type":"neighborhood","full_address":"Phường
        3, 72600, Quận 11, Ho Chi Minh City, Vietnam","name":"Phường 3","name_preferred":"Phường
        3","coordinates":{"longitude":106.638386,"latitude":10.758738},"place_formatted":"72600,
  [...]
