---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/directions/v5/mapbox/driving/106.6732885,10.8096836;106.6653261,10.7943273?access_token=pk.eyJ1Ijoia2thbjEyMCIsImEiOiJjbTBkeDRxczMwaXZrMmxwd2prbnh0cGx3In0.QA7FjWBZaREcgjBMgZ2Gfg&overview=full&steps=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-mapbox-request-id:
      - jfULOnPLSdEogJJPqP4e4jSsMOarsQ0TcLR7PzppEQx7HSQQh4TEQA==
      x-rate-limit-limit:
      - '300'
      x-rate-limit-interval:
      - '60'
      x-rate-limit-reset:
      - '1726393567'
      x-mapbox-routing-engine:
      - v2.0
    body:
      encoding: UTF-8
      string: '{"routes":[{"weight_name":"auto","weight":857.001,"duration":618.992,"distance":3230.14,"legs":[{"via_waypoints":[],"admins":[{"iso_3166_1":""}],"weight":857.001,"duration":618.992,"steps":[{"intersections":[{"entry":[true],"bearings":[115],"duration":4.261,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":0,"weight":5.26,"geometry_index":0,"location":[106.673204,10.809507]},{"entry":[true,true,false],"in":2,"bearings":[117,210,295],"duration":5.805,"turn_weight":0.75,"turn_duration":0.019,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":0,"weight":7.806,"geometry_index":1,"location":[106.67337,10.80943]},{"bearings":[24,116,297],"entry":[true,true,false],"in":2,"turn_weight":0.75,"turn_duration":0.008,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":1,"geometry_index":2,"location":[106.673633,10.809301]}],"maneuver":{"type":"depart","instruction":"Drive
        southeast on Hồng Hà.","bearing_after":115,"bearing_before":0,"location":[106.673204,10.809507]},"name":"Hồng
        Hà","duration":29.484,"distance":111.574,"driving_side":"left","weight":37.469,"mode":"driving","geometry":"mf~`AorajSNa@Xs@`@iABGBQ"},{"intersections":[{"entry":[false,true,true,false],"in":3,"bearings":[39,113,217,291],"duration":16.02,"turn_weight":18.75,"turn_duration":6.74,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":2,"weight":30.123,"geometry_index":5,"location":[106.674128,10.809086]},{"bearings":[37,217,307],"entry":[false,true,true],"in":0,"turn_duration":0.018,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":1,"geometry_index":6,"location":[106.673858,10.808735]}],"maneuver":{"type":"turn","instruction":"Turn
        right onto Đường Hoàng Minh Giám.","modifier":"right","bearing_after":217,"bearing_before":111,"location":[106.674128,10.809086]},"name":"Đường
        Hoàng Minh Giám","duration":31.094,"distance":99.162,"driving_side":"left","weight":48.498,"mode":"driving","geometry":"yc~`AixajSfAt@n@d@ZD"},{"intersections":[{"entry":[false,true,true,true],"in":0,"bearings":[18,46,123,220],"duration":9.321,"turn_weight":6,"turn_duration":0.992,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":2,"weight":16.29,"geometry_index":[...]
