---
http_interactions:
- request:
    method: get
    uri: https://api.mapbox.com/directions/v5/mapbox/driving/106.6732885,10.8096836;106.6653261,10.7943273?access_token=<MAP_BOX_ACCESS_TOKEN>&overview=full&steps=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-mapbox-request-id:
      - rx5MYBGC7KFrHAUvEv1RQCzD1CxrckZUzezNSZrl7KFSye-s3bsRMQ==
      x-rate-limit-limit:
      - '300'
      x-rate-limit-interval:
      - '60'
      x-rate-limit-reset:
      - '1727790856'
      x-mapbox-routing-engine:
      - v2.0
    body:
      encoding: UTF-8
      string: '{"routes":[{"weight_name":"auto","weight":875.3,"duration":651.704,"distance":3184.425,"legs":[{"via_waypoints":[],"admins":[{"iso_3166_1":""}],"weight":875.3,"duration":651.704,"steps":[{"intersections":[{"entry":[true],"bearings":[115],"duration":3.622,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":0,"weight":4.471,"geometry_index":0,"location":[106.673204,10.809507]},{"entry":[true,true,false],"in":2,"bearings":[117,210,295],"duration":6.11,"turn_weight":0.75,"turn_duration":0.019,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":0,"weight":8.177,"geometry_index":1,"location":[106.67337,10.80943]},{"bearings":[24,116,297],"entry":[true,true,false],"in":2,"turn_weight":0.75,"turn_duration":0.008,"mapbox_streets_v8":{"class":"tertiary"},"is_urban":true,"admin_index":0,"out":1,"geometry_index":2,"location":[106.673633,10.809301]}],"maneuver":{"type":"depart","instruction":"Drive
        southeast on Hồng Hà.","bearing_after":115,"bearing_before":0,"location":[106.673204,10.809507]},"name":"Hồng
        Hà","duration":29.15,"distance":111.574,"driving_side":"left","weight":37.052,"mode":"driving","geometry":"mf~`AorajSNa@Xs@`@iABGBQ"},{"intersections":[{"entry":[false,true,true,false],"in":3,"bearings":[39,113,217,291],"duration":17.111,"turn_weight":18.75,"turn_duration":6.74,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":2,"weight":31.461,"geometry_index":5,"location":[106.674128,10.809086]},{"bearings":[37,217,307],"entry":[false,true,true],"in":0,"turn_duration":0.018,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":1,"geometry_index":6,"location":[106.673858,10.808735]}],"maneuver":{"type":"turn","instruction":"Turn
        right onto Đường Hoàng Minh Giám.","modifier":"right","bearing_after":217,"bearing_before":111,"location":[106.674128,10.809086]},"name":"Đường
        Hoàng Minh Giám","duration":33.554,"distance":99.162,"driving_side":"left","weight":51.507,"mode":"driving","geometry":"yc~`AixajSfAt@n@d@ZD"},{"intersections":[{"entry":[false,true,true,true],"in":0,"bearings":[18,46,123,220],"duration":8.988,"turn_weight":6,"turn_duration":0.992,"mapbox_streets_v8":{"class":"primary"},"is_urban":true,"admin_index":0,"out":2,"weight":15.878,"geometry_index"[...]
